h1{
    color: rgb(10, 150, 175);
}
#warna{
    color: rgb(47, 8, 153);
}
.circular-image {
    border: 1px solid #000000;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
   }

.letak{
   margin: 0 0 0 400;
   padding: 0;
   }